<h1>Edit Cocktail Recipe</h1>

    <form method="POST" action="/cocktail_recipes/<%=@cocktail_recipe.id%>"> 
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <p>
      <label for "cocktail name"><h2>Cocktail Name:</h2></label>
      <input type="text" name="cocktail_recipe[cocktail_name]" id="cocktail_name" value="<%= @cocktail_recipe.cocktail_name%>">
    </p> 

    <p>
      <label for= "ingredients"><h2> Ingredients:</h2></label>
      <input type="text" name="cocktail_recipe[ingredients]" value="<%= @cocktail_recipe.ingredients%>">
    </p> 

    <p>
      <label for ="instructions"><h2>Instructions:<h2></label>
      <input type="text" name="cocktail_recipe[instructions]" value="<%=@cocktail_recipe.instructions%>">
    </p>

    <p><input type="submit" value="Submit Changes To This Recipe"></p> 
    
  </form> 

    <form method="POST" action="/cocktail_recipes/<%=@cocktail_recipe.id%>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <a><input type="submit" value="Delete Cocktail Recipe" id="Delete Cocktail Recipe"></a>
    </form> 


      <p> 
        <ul>
      <h3><a href="/logout">Log Out<a> </h3>
      <h3><a href="/user">My Profile Page</a></h3> 
      <h3><a href="/cocktail_recipes">View all Cocktails</a></h3> 
        </ul>
      </p>
