<h1>Edit Cocktail Recipe</h1>

    <form method="POST" action="/cocktail_recipes/<%=@cocktail_recipe.id%>"> 
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <p>
      <label for "cocktail name"><h2>Cocktail Name:</h2></label>
      <input type="text" name="cocktail_recipe[cocktail_name]" id="cocktail_name" value="<%= @cocktail_recipe.cocktail_name%>">
    </p> 

    <p>
      <label for= "ingredients"><h2> Ingredients:</h2></label>
      <input type="text" name="cocktail_recipe[ingredients]" value="<%= @cocktail_recipe.ingredients%>">
    </p> 

    <p>
      <label for ="instructions"><h2>Instructions:<h2></label>
      <input type="text" name="cocktail_recipe[instructions]" value="<%=@cocktail_recipe.instructions%>">
    </p>

      <button>Submit Changes To This Recipe</button> 
    
  </form> 
  
    <p>
      <form method="POST" action="/cocktail_recipes/<%=@cocktail_recipe.id%>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button>Delete Cocktail Recipe</button>
      </form> 
    </p>


      