<h1><b> Edit Cocktail Recipe </b></h1>

    <form method="POST" action="/cocktail_recipes/<%=@cocktail_recipe.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    </br>

    <label> Cocktail Name</label>
    <input type="text" name="cocktail_recipe[cocktail_name]" value="<%= @cocktail_recipe.cocktail_name%>"> </br> 

    <label> Ingredients </label>
    <input type="text" name="cocktail_recipe[ingredients]" value="<%= @cocktail_recipe.ingredients%>"> </br>

    <label> Intrsuctions </label>
    <input type="text" name="cocktail_recipe[instructions]" value="<%=@cocktail_recipe.instructions%>"> </br>
    
    <br>
    <input id= "cocktail_recipe" type="submit" value="Submit Changes">
    <br>
     <br>
 </form>
     

    <form method="POST" action="/cocktail_recipes/<%=@cocktail_recipe.id%>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
            <a><input type="submit" value="Delete Cocktail Recipe" id="Delete Cocktail Recipe"></a>
        </form>