
    <h3><% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %></h3> 

<h1>Cocktail Recipes</h1> 
	
<% @cocktail_recipes.each do |cocktail_recipe| %>

<h1><a href="/cocktail_recipes/<%=cocktail_recipe.id%>"><%=cocktail_recipe.cocktail_name%></a></h1>
   
    <br><%=cocktail_recipe.ingredients%> <br>
    <%=cocktail_recipe.instructions%><br>

<br>
<br>   
<% end %>
<br>
      <a href="/logout">Log Out<a> 
      <br> 
      <a href="/user">My Profile Page</a><br><br> 
      <a href="/cocktail_recipes/new">Create a Cocktail</a><br><br> 
      <br>
