<div class="jumbotron text-white w-50" style="background-color: rgba(0,0,0, 0.75);" > 
<h1><%= @cocktail_recipe.cocktail_name%></h1><br> 

<p><img src="<%= @cocktail_recipe.image_url%>" alt="image" style="width: 380px"></p><br>

<p>
  <h2>Ingredients:</h2>
</p> 
<p>
  <h3><%= @cocktail_recipe.ingredients%></h3>
</p>      
<p>
  <h2>Instructions:</h2>
</p> 
<p>
  <h3><%= @cocktail_recipe.instructions%></h3>
</p><br>

<% if current_user == @cocktail_recipe.user%>
  <p>
    <a href="/cocktail_recipes/<%=@cocktail_recipe.id%>/edit" style="color: #f5f5f5"><h2>Edit This Recipe</h2></a> 
  </p><br> 
<%end%> 
</div>


  
    
        